<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Suite">
<listeners>
<listener class-name="testCases.Lisetner"/>
<listener class-name="dataresource.ExtentReporterNG"/>
</listeners>

	<test thread-count="5" name="Order Phone in stock">
		<classes>
			<class name="testCases.OrderPhoneInstockTest" />
		</classes>
	</test>
	<test thread-count="5" name="Order Phone out stock">
		<classes>
			<class name="testCases.OrderPhoneOutStockTest" />
		</classes>
	</test>

	<test thread-count="5" name="Login">
		<classes>
			<class name="testCases.LoginDataSetTest" />
		</classes>
	</test>
	
	<test thread-count="5" name="Select Plan">
		<classes>
			<class name="testCases.SelectPlanTest" />
		</classes>
	</test> <!-- Test -->
</suite> <!-- Suite -->
